.header {
  display: flex;
  background-color: rgb(251 211 137);
  padding: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  font-family: 'Ubuntu', sans-serif;
}

.title {
  margin-top: 10px;
  width: 60%;
}

.title img {
  color: #f79821;
  height: 80px;
  cursor: pointer;
  transition: 0.2s;
}

.nav {
  display: flex;
  justify-content: center;
}

.home__page,
.pokeball {
  display: flex;
  align-items: center;
  transition: 0.2s;
  cursor: pointer;
}

.pokeball__image,
.pika__image {
  position: relative;
  width: 120px; /* can be omitted for a regular non-lazy image */
  max-width: 100%;
}

.pokeball__image img.pokeball__opened,
.pika__image img.pika__happy {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  object-fit: contain;
  opacity: 0;
  transition: opacity 0.2s;
}

.pokeball:hover img.pokeball__opened {
  opacity: 1;
}

.home__page:hover img.pika__happy {
  opacity: 1;
}

.home__page:hover img.pika__sleep {
  opacity: 0;
}

.home__page:hover,
.pokeball:hover {
  text-shadow: 1px 1px 2px #131516;
  font-weight: bold;
}

.title img:hover {
  opacity: 0.5;
}

.home__page img,
.pokeball img {
  width: 100px;
  height: 100px;
  cursor: pointer;

  transition: 0.3s;
}

.home__page p,
.pokeball p {
  font-size: 1.5em;
  padding-right: 30px;
  cursor: pointer;
}

/* TABLET */

@media (max-width: 768px) {
  .title {
    margin-top: 37px;
    width: 50%;
  }

  .home__page,
  .pokeball {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.2s;
    text-align: center;
  }

  .pokeball img {
    margin-right: 30px;
  }
}

/* 425px */

@media (max-width: 425px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .title {
    margin-bottom: 50px;
  }

  .title img {
    height: 80px;
  }

  .pokeball {
    margin-left: 70px;
  }
}
